source https://api.nuget.org/v3/index.json

nuget coverlet.collector ~> 1.0.1
nuget Funcky ~> 1.2.0
nuget Microsoft.NET.Test.Sdk ~> 16.2.0
nuget xunit ~> 2.4.0
nuget xunit.runner.visualstudio ~> 2.4.0
nuget Equals.Fody ~> 1.9.5
nuget Fody ~> 4.0
